[submodule "src/git"]
	path = src/git
	url = https://git.kernel.org/pub/scm/git/git.git
[submodule "src/muen"]
	path = src/muen
	url = ../muen.git
	branch = devel-nitrohsm
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/u-root/src/github.com/u-root/u-root"]
	path = src/u-root/src/github.com/u-root/u-root
	url = https://github.com/u-root/u-root.git
