/coreboot/qemu/coreboot.rom filter=lfs diff=lfs merge=lfs -text
/coreboot/supermicro/coreboot.rom.gz filter=lfs diff=lfs merge=lfs -text
/src/coreboot/blobs/me.bin filter=lfs diff=lfs merge=lfs -text
/container/static/Index.js filter=lfs diff=lfs merge=lfs -text
/container/static/Index.js.map filter=lfs diff=lfs merge=lfs -text
/src/container/static/Index.js filter=lfs diff=lfs merge=lfs -text
/src/container/static/Index.js.map filter=lfs diff=lfs merge=lfs -text
**/modules/**/*.ko filter=lfs diff=lfs merge=lfs -text
