binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync
live-image*.files
live-image*.iso
live-image*.img
live-image*.tar*
live-image*.contents
live-image*.packages
live-image*.zsync

.build/
build.log

cache/

chroot/
chroot.packages.*
chroot.files

config/binary
config/bootstrap
config/chroot
config/common
config/source

config/control

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync
